[submodule "dynamic-nfts"]
	path = dynamic-nfts
	url = https://github.com/indeavr/dynamic-nfts.git
	branch = main
[submodule "dy-ceramic"]
	path = server
	url = https://github.com/indeavr/dy-ceramic.git
	branch = main
[submodule "dynamic-dapp"]
	path = dapp
	url = https://github.com/indeavr/dynamic-dapp.git
	branch = master
